body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    /* background: black; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    background-image: url('./images/mountain.jpg');

}

.card {
    color: white;
    background: rgb(20, 19, 19);
    padding: 7em;
    opacity: 0.7;
    border-radius: 40px;
    margin-bottom: 2%;

    /* width: 100%; */
}

@media(max-width:420px){
    .card{
        color: white;
        /* background: rgb(170, 86, 86); */
        padding: 3em;
        opacity: 0.7;
        border-radius: 20px;
        width: 73%;
        margin-bottom: 2%;

    }

}
h1 {
    font-family: fangsong;
    text-align: center;
}
button {
    height: 3em;
    width: 9em;
    border-radius: 20px;
}
input{
    height: 2em;
    width: 22em;
    background: rgb(84, 82, 82);
    color: white;
}

button:hover{
    background-color: grey;
    cursor: pointer;
}
li{
    list-style: none;
    text-align: left;
    margin-block: 5px;

}